---
// Define component props and scripts here
---
<style global>
@import "./Accordion.scss";
</style>

import React, { Component } from 'react';

import { BodyText } from '../BodyText/BodyText';
import { Link } from 'gatsby';
import PropTypes from 'prop-types';
import ReactGA from 'react-ga';

ReactGA.initialize('UA-135975842-1');

class Accordion extends Component {
  constructor(props) {
    super(props);

    let state = reactive({
      isOpened: false,
    };
  }

  onMount() {
    this.props.initiallyOpened && state = { ...state, ...$1 };
  }

  handleClick() {
    const { isOpened } = this.state;
    const { title, track } = this.props;

    state = { ...state, ...$1 };
    });
  }

  render() {
    const {
      title,
      content,
      className,
      containerClassName,
      list,
      titleStyle,
    } = this.props;
    const { isOpened } = this.state;

    return (
      <div
        class={`accordion__container col-8 push-right-1 ${containerClassName}`}
      >
        <button
          class={`accordion accordion__title ${
            isOpened ? 'active' : ''
          } ${className}`}
          style={titleStyle}
          onClick={() => this.handleClick()}
        >
          {title}
        </button>
        <div
          class="panel"
          style={{
            padding: `${isOpened ? '2rem 18px' : ''}`,
            maxHeight: `${!isOpened ? 0 : 'unset'}`,
            transition: 'max-height 0.2s ease-out',
          }}
        >
          {content && (
            <BodyText class="col-8 push-right-1" text={content} />
          )}
          {list && (
            <ul>
              {list.map(l => (
                <li key={l.text}>
                  <Link to={l.href}>{l.text}</Link>
                </li>
              ))}
            </ul>
          )}
        </div>
      </div>
    );
  }
}

Accordion.propTypes = {
  title: PropTypes.string.isRequired,
  track: PropTypes.bool,
  content: PropTypes.oneOfType([PropTypes.string, PropTypes.array]),
  list: PropTypes.array,
  className: PropTypes.string,
  containerClassName: PropTypes.string,
  initiallyOpened: PropTypes.bool,
  titleStyle: PropTypes.object,
};

Accordion.defaultProps = {
  className: '',
  track: false,
  containerClassName: '',
  initiallyOpened: false,
  titleStyle: {},
};

export default Accordion;
