---
// Define component props and scripts here
---
<style global>
@import "../../../styles/Footer.scss";
</style>

import Element from '../../Element/Element.astro';
import { Image } from '../../Image/Image.astro';
import { Link } from 'gatsby';
import React from 'react';
import houston from '../../../../public/images/houston.svg';
import { navigation } from '../../Navigation/Navigation.astro';
import yliopisto from '../../../../public/images/uoh_centre.svg';

const images = [
  {
    src: yliopisto,
    alt: 'Helsingin yliopiston logo',
    href: 'https://www.helsinki.fi/',
  },
  {
    src: houston,
    alt: 'Houston inc. logo',
    href: 'https://www.houston-inc.com/',
  },
];

const Footer = ({ lang }) => (
  <Element
    id="footer"
    class="container spacing--after-small spacing--mobile"
    flex
  >
    <Element
      class="col-5 push-right-3 col-10--mobile order-2--mobile order-2--tablet footer__links"
      flex
      spaceBetween
    >
      {images.map(image => (
        <a
          key={image.alt}
          href={image.href}
          class="col-5 col-4--mobile spacing--mobile"
        >
          <Image contain src={image.src} alt={image.alt} class="col-6" />
        </a>
      ))}
    </Element>

    <Element
      flex
      class="col-5 col-5--mobile order-1--mobile order-1--tablet footer__navigation"
    >
      <div class="footer__navigation-link-container">
        {navigation[lang].map(item => (
          <Link
            key={item.path}
            to={item.path}
            class="footer__navigation-link nav-item-hover"
            style={{ marginLeft: '4.5rem' }}
          >
            {item.text}
          </Link>
        ))}
      </div>
    </Element>
  </Element>
);

export default Footer;
