---
// Define component props and scripts here
---
<style global>
@import "../../styles/DeveloperStory.scss";
</style>

import React, { Component } from 'react';

import { BodyText } from '../BodyText/BodyText.astro';
import Element from '../Element/Element.astro';
import { Image } from '../Image/Image.astro';
import { PropTypes } from 'prop-types';
import { TripleBorder } from '../TripleBorder/TripleBorder.astro';

export class DeveloperStory extends Component {
  constructor(props) {
    super(props);

    let state = reactive({
      readMore: false,
    };
  }

  render() {
    const { image, companyLogo, text, name, title, lang } = this.props;
    const { readMore } = this.state;

    return (
      <Element
        flex
        spaceBetween
        class="col-8 col-10--mobile push-right-1 spacing--small spacing--after"
      >
        <TripleBorder
          largeMargin
          class="developer-story__image col-3 col-7--mobile"
        >
          <Image squareBig src={require(`../../../public/images/${image}`)} alt={name} />
        </TripleBorder>

        <Element class="col-6 col-8--mobile spacing--mobile">
          {companyLogo && (
            <img
              class="col-5--mobile"
              style={{ width: 'auto', maxHeight: '60px', objectFit: 'cover' }}
              src={require(`../../../public/images/${companyLogo}`)}
              alt={companyLogo.split('.')[0]}
            />
          )}

          <BodyText
            headingFont
            class="col-10"
            text={readMore ? text : text[0]}
          />

          {!readMore && (
            <button
              onClick={() => this.setState({ readMore: true })}
              class="col-10 developer-story__read-more"
            >
              {lang === 'en' ? 'Read more' : 'Lue lisää'}
            </button>
          )}

          <p class="col-10 developer-story__name">{name}</p>

          <p class="col-10 developer-story__title">{title}</p>
        </Element>
      </Element>
    );
  }
}

DeveloperStory.defaultProps = {
  image: null,
  companyLogo: null,
  text: '',
  name: '',
  title: '',
  lang: 'fi',
};

DeveloperStory.propTypes = {
  image: PropTypes.string.isRequired,
  companyLogo: PropTypes.string.isRequired,
  text: PropTypes.array.isRequired,
  name: PropTypes.string.isRequired,
  title: PropTypes.string.isRequired,
  lang: PropTypes.string.isRequired,
};
