---
// Define component props and scripts here
// Unused imports are commented out for review

// import React from 'react';
// import SEO from '../components/seo.astro';
// import { Some } from '../components/Some/Some.astro';
// import { SubHeader } from '../components/SubHeader/SubHeader.astro';

import { BodyText } from '../components/BodyText/BodyText.astro';
import { CompaniesBanner } from '../components/CompaniesBanner/CompaniesBanner.astro';
import Element from '../components/Element/Element.astro';
import { Image } from '../components/Image/Image.astro';
import Layout from '../components/layout.astro';
import { PartBanner } from '../components/PartBanner/PartBanner.astro';
import TripleBorder from '../components/TripleBorder/TripleBorder.astro';

import cc from '../../public/images/cc.svg';
import colors from '../components/colors.json';
import content from '../content/pages/main.json';
import houstonLogo from '../public/images/Houston_big.svg';
import landingImage from '../../public/images/landing.svg';
import licenceIcon from '../../public/images/cc-logo.svg';
import mainSEOdescription from '../content/seo/mainSEOdescription.astro';
import mainSEOtags from '../content/seo/mainSEOtags.astro';
import news from '../../public/images/noun_news_1248039.svg';
import yliopistoLogo from '../../public/images/company_logos/uoh_centre.svg';
---

<Layout>
  <SEO
    lang="en"
    title="Full Stack Open 2019"
    description={mainSEOdescription['en']}
    keywords={[...mainSEOtags]}
  />

  <div class="container spacing--after spacing--mobile">
    <Element
      flex
      spaceBetween
      class="col-10 spacing--small frontpage__hero spacing--mobile"
      relative
    >
      <SubHeader
        class="col-6 index__main-title"
        text={mainTitle}
        headingLevel="h1"
      />

      <SubHeader
        class="col-10"
        text="Full Stack Open 2019"
        headingLevel="h2"
      />

      <a
        class="col-2 centered about__challenge-button spacing--after--mobile"
        href="/en/about"
      >
        Start course
      </a>

      <div class="spacing--small" />

      <BodyText
        headingFont
        class="col-4 order-1--mobile col-8--mobile link"
        text={intro}
      />

      <Image
        contain
        class="col-4--mobile spacing--tablet absolute-top-right--desktop"
        style={{ margin: 0 }}
        alt="Stacked cubes with React logo and JavaScript text"
        src={landingImage}
      />
    </Element>
  </div>

  <!-- Rest of the code... -->
</Layout>
<!-- Continuation of the previous code -->

<Element class="container spacing spacing--after">
  <Element class="push-right-1 push-left-1" spaceBetween flex>
    <Element flex horizontalHalf flexStart>
      <Element flex spaceBetween autoBottomMargin class="col-10">
        <Image contain small src={news} class="col-1--mobile" />

        <BodyText
          class="col-7 col-8--mobile link"
          style={{ marginRight: '2rem' }}
          heading={{ title: 'Announcements', level: 'h3' }}
        />
      </Element>

      <BodyText
        class="spacing--small link"
        headingFont
        text={current}
      />
    </Element>

    <Element flex horizontalHalf flexStart>
      <Element
        flex
        spaceBetween
        autoBottomMargin
        class="col-10 spacing--mobile"
      >
        <Image contain small src={cc} class="col-1--mobile" />

        <BodyText
          headingFont
          class="col-7 col-8--mobile"
          style={{ marginRight: '2rem' }}
          heading={{
            title: 'Authors and License',
            level: 'h3',
          }}
        />
      </Element>

      <BodyText
        headingFont
        class="spacing--small link"
        text={licence}
      />
    </Element>
  </Element>
</Element>

<PartBanner lang="en" />

<CompaniesBanner lang="en" isFrontPage />

<Element flex spaceBetween class="container col-10 spacing--after">
  <TripleBorder
    largeMargin
    backgroundColor={colors['main']}
    class="col-10 centered--mobile"
  >
    <Element
      flex
      spaceAround
      autoMargin
      class="col-10 col-8--mobile spacing--small"
    >
      <div class="col-3 col-10--mobile">
        <a
          target="_BLANK"
          rel="noopener noreferrer"
          class="col-10 col-4--mobile"
          href="https://www.helsinki.fi/fi"
        >
          <Image
            contain
            src={yliopistoLogo}
            alt="Helsingin Yliopisto logo"
            class="col-5 col-4--mobile"
          />
        </a>

        <BodyText headingFont text={university} />
      </div>

      <Element flex spaceBetween class="col-3 col-10--mobile">
        <a
          target="_BLANK"
          rel="noopener noreferrer"
          class="col-10 col-4--mobile"
          href="https://www.houston-inc.com"
        >
          <Image contain src={houstonLogo} alt="Houston Inc. logo" />
        </a>

        <BodyText headingFont class="link" text={houston} />
      </Element>
    </Element>

    <Element
      flex
      spaceAround
      autoMargin
      class="spacing--small spacing--after col-10 col-8--mobile centered--mobile"
    >
      <div class="col-3 col-10--mobile">
        <BodyText
          noPadding
          headingFont
          class="link"
          style={{ paddingTop: '2.111rem' }}
          text={contacts}
        />

        {['github', 'twitter', 'facebook', 'youtube'].map(icon => (
          <Some key={icon} iconName={icon} />
        ))}
      </div>
      <div class="col-3 col-10--mobile">
        <Image
          contain
          src={licenceIcon}
          alt="Creative Commons BY-NC-SA 3.0 -lisenssi"
          class="col-4--mobile"
        />

        <BodyText headingFont text={licensed} class="link" />
      </div>
    </Element>
  </TripleBorder>
</Element>

</Layout>