---
// src/components/Banner.astro
import '../../styles/Banner.scss'; // Import your SCSS file

// Adjusted to remove async operations inside
interface BannerProps {
  className?: string;
  backgroundColor?: string;
  partNumber: number; 
  lang?: string;
  partContent?: any; // Assume partContent is now passed as a prop
}

// Now a regular component function
const Banner = ({ className = "", backgroundColor, partNumber, lang = 'en', partContent }: BannerProps) => {
  const backgroundStyle = backgroundColor ? `background-color: ${backgroundColor};` : '';

  return (
    <div class={`banner ${className}`} style={backgroundStyle}>
      <img src={partContent?.mainImage} alt="Main Part Image" /> 
      <p>{partContent?.intro}</p> 
    </div>
  );
};

export default Banner;
