---
// src/components/Banner.astro
import { glob } from 'astro';
import './Banner.scss'; // Import your SCSS file

// Define props (With TypeScript)
interface BannerProps {
  className?: string;
  backgroundColor?: string;
  partNumber: number; 
  lang?: string; 
}

const Banner = async ({ className = "", backgroundColor, partNumber, lang = 'en' }: BannerProps) => {
  // Fetch Markdown file
  const partFiles = await glob(`./part-${partNumber}*.${lang}.md`);
  const partContent = await partFiles[0].then((part) => part.content);

  const background = backgroundColor ? { backgroundColor: backgroundColor } : null;

  return (
    <div className={`banner ${className}`} style={background}>
      <img src={partContent.mainImage} alt="Main Part Image" /> 
      <p>{partContent.intro}</p> 
    </div>